<ion-tabs>
  <ion-tab [root]="tab1Root" [rootParams]="target_film" tabTitle="Film" tabIcon="ios-film-outline"></ion-tab>
  <ion-tab [root]="tab2Root" [rootParams]="target_tv" tabTitle="TV" tabIcon="ios-desktop-outline"></ion-tab>
  <ion-tab [root]="tab3Root" [rootParams]="favorite"  tabTitle="Collezione"  tabIcon="ios-albums-outline"></ion-tab>
  <ion-tab [root]="tab4Root" [rootParams]="settings" tabTitle="Impostazioni" tabIcon="ios-settings-outline"></ion-tab>
</ion-tabs>
