.ion-tab {
  color: #9D9EA2;
}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .tab-button {
    padding: 10px !important;
  }

  .tab-button-icon {
    font-size: 40px !important;
  }
}