<ion-content>
  <ion-searchbar animated="true" placeholder="Cerca" debounce="500" [(ngModel)]="searchText" (ionCancel)="searchResults[target] = []" (ionInput)="getItems($event)" (keyup.enter)="search(searchText)"></ion-searchbar>
  <ion-grid>
      <show-grid [simplifiedInterface]="simplifiedInterface" [infiniteScroll]="true" (infiniteEvent)="$event.waitFor(doInfinite())" (showTap)="goToDetail($event)" [shows]="searchResults[target] && searchResults[target].length > 0 ? searchResults[target] : toplist[target]"></show-grid>
  </ion-grid>  
</ion-content>