<ion-header>
  <ion-navbar>
    <ion-title>
      Impostazioni
    </ion-title>

    <ion-buttons class="appbarButton" end>
        <button (click)="save()" ion-button icon-start>
          <ion-icon name="checkbox"></ion-icon>
            SALVA
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
        <ion-col col-12>
          <ion-item class="customPadding">
            <ion-label color="primary" floating>Server URL</ion-label>
            <ion-input [(ngModel)]="baseurl"></ion-input>
          </ion-item>
        </ion-col> 
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-item class="customPadding">
          <ion-label>Disabilita Fast-Search</ion-label>
          <ion-toggle checked="fastSearch" [(ngModel)]="fastSearch"></ion-toggle>
        </ion-item>
      </ion-col> 
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-item class="customPadding">
          <ion-label>Interfaccia semplificata (no immagini)</ion-label>
          <ion-toggle checked="simplifiedInterface" [(ngModel)]="simplifiedInterface"></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
          <ion-item class="customPadding">
            <ion-label>Elementi per riga</ion-label>
            <ion-select [(ngModel)]="cols" (ngModelChange)="showRebootMessage()">
                <ion-option value=-1>Auto</ion-option>
                <ion-option value=2>2</ion-option>
                <ion-option value=3>3</ion-option>
                <ion-option value=4>4</ion-option>
                <ion-option value=6>6</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
    </ion-row>
    
  </ion-grid>  
</ion-content>