// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

// $colors: (
//   primary:    #488aff,
//   secondary:  #32db64,
//   danger:     #f53d3d,
//   light:      #f4f4f4,
//   dark:       #222
// );


$colors: (
  primary: #1793d1,
  old-primary:    #EEEFF1,
  secondary:  #6AE368,
  danger:     #f53d3d,
  light:      #ADAEB0,
  dark:       #222325,
  arch:       #1793d1,
  youtube:    #cd201f
);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$toast-ios-background: color($colors, arch);
$toast-ios-title-padding-top: 1.5rem;
$toggle-ios-background-color-off: color($colors, light);
$toggle-ios-handle-background-color: color($colors, old-primary);


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$toolbar-md-active-color: #fff;
$toolbar-md-background: color($colors, dark);
$tabs-md-tab-icon-color:  color($colors, light);
$tabs-md-tab-icon-color-active:  #FFF;
$tabs-md-tab-text-color: color($colors, light);
$tabs-md-tab-text-color-active:  #FFF;
$toast-md-background: color($colors, arch);
$toggle-md-track-background-color-off: color($colors, light);
$toggle-md-handle-background-color-off: color($colors, arch);


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

// @import "ionic.theme.default";
@import "ionic.theme.dark";



// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
