<div *ngIf="simplifiedInterface === false; else simplifiedTemplate">
  <div *ngIf="!cols || cols == -1; else fixedColTemplate">
      <ion-row>
        <ion-col class="gridCol" *ngFor="let item of shows" col-6 col-sm-2>
          <div class="fill-image-grid poster" (tap)="onTapEventEmitter(item)" (press)="toastService.showTextToast(item.title)">
            <img img-preload="{{item.poster_path}}" alt="{{item.title}}"/>
          </div>
        </ion-col>
      </ion-row>
      <div *ngIf="infiniteScroll === true">
        <ion-infinite-scroll (ionInfinite)="onIonInfiniteEventEmitter($event)">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </div>
  </div>
</div>

<ng-template #fixedColTemplate>
    <ion-row>
        <ion-col
        class="gridCol" *ngFor="let item of shows"
        [attr.col-6]=" cols == 2 ? '' : null"
        [attr.col-4]=" cols == 3 ? '' : null"
        [attr.col-3]=" cols == 4 ? '' : null"
        [attr.col-2]=" cols == 6 ? '' : null"
        >
          <div class="fill-image-grid poster" (tap)="onTapEventEmitter(item)" (press)="toastService.showTextToast(item.title)">
            <img img-preload="{{item.poster_path}}" alt="{{item.title}}"/>
          </div>
        </ion-col>
      </ion-row>
      <div *ngIf="infiniteScroll === true">
        <ion-infinite-scroll (ionInfinite)="onIonInfiniteEventEmitter($event)">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </div>
</ng-template>

<ng-template #simplifiedTemplate>
  <ion-row>
          <ion-col col-12>            
              <ion-list>
                  <button ion-item *ngFor="let item of shows" (click)="onTapEventEmitter(item)">
                    <h3 class="listTitle">{{item.title}}</h3>
                  </button>  
              </ion-list>
              <div *ngIf="infiniteScroll === true">
                  <ion-infinite-scroll (ionInfinite)="onIonInfiniteEventEmitter($event)">
                    <ion-infinite-scroll-content></ion-infinite-scroll-content>
                  </ion-infinite-scroll>
              </div>
          </ion-col>
  </ion-row>
</ng-template>