.fill-image-grid {
    height: 100%;
    overflow: hidden;
}
  
.fill-image-grid img {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
    display: block;
}

.poster { 
    width: 100%; 
    height: 100%;
}

.gridCol {
    padding: 1px;
}

.listTitle {
    font-size: 16px !important;
}