<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button class="appbarButton" *ngIf="target == 'tv'" ion-button icon-only (click)="selectCurrentEpisode()">
        <ion-icon name="skip-backward"></ion-icon>
      </button>
      <button class="appbarButton" *ngIf="target == 'tv'"  ion-button icon-only (click)="selectNextEpisode()">
        <ion-icon name="skip-forward"></ion-icon>
      </button>
      <button class="appbarButton" *ngIf="detail" ion-button icon-only (click)="changeFavorite()">
        <ion-icon name="{{ (detail.favorite == true) ? 'star' : 'star-outline' }}"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<iframe id="innerframetmp" sandbox="allow-scripts allow-same-origin" src='about:blank' [src]="tmpurlsrc | safe" style="width:0;height:0;border:0; border:none;"></iframe>

<ion-content>
  <ion-grid no-margin no-padding>


    <ion-row *ngIf="simplifiedInterface === false; else simplifiedHeader">
      <ion-col col-12>
        <div id="banner" [ngStyle]="{'background-image': 'url(' + coverImage + ')'}">
          <button (click)="openYoutubeVideo()" *ngIf="detail && detail.videos && detail.videos.length > 0" ion-button color="youtube" clear icon-only>
            <ion-icon name='logo-youtube' is-active="false"></ion-icon>
          </button>
          <div id="layer" padding>
            <h3 *ngIf="!lastSeenEpisode" class="title">{{show.title}}</h3>
            <h3 *ngIf="lastSeenEpisode" class="title">{{show.title}} (v: S{{lastSeenEpisode.season_number}}E{{lastSeenEpisode.episode_number}})</h3>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-toolbar>
        <ion-segment [(ngModel)]="segment">
            <ion-segment-button value="watch" >
              Guarda
            </ion-segment-button>
            <ion-segment-button value="related">
              Consigliati
            </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
    </ion-row>

    <div class="loader" *ngIf="loading"></div>

    <div *ngIf="segment === 'watch'; else related">
        <ion-row>
            <ion-col *ngIf="show.overview" col-12>
              <div id="infoBox">
                <span class="overview" *ngIf="showFullOverview">{{show.overview}}</span>
                <span class="overview" *ngIf="!showFullOverview">{{show.overview.split('. ').slice(0, 2).join('. ')}}.</span>
                <ion-fab right edge>
                  <button class="overviewButton"  (click)="showFullOverview = true" *ngIf="show.overview.length > show.overview.split('. ').slice(0, 2).join('. ').length && !showFullOverview" mini ion-fab color="arch">
                    <ion-icon ios="ios-arrow-down" md="ios-arrow-down"></ion-icon>
                  </button>
                  <button class="overviewButton" (click)="showFullOverview = false" *ngIf="showFullOverview" mini ion-fab color="arch">
                    <ion-icon ios="ios-arrow-up" md="ios-arrow-up"></ion-icon>
                  </button>
                </ion-fab>
              </div>   
            </ion-col>
          </ion-row>
          <ion-row id="selectEpisodeBox" *ngIf="detail && detail.seasons">
            <ion-col no-padding col-12>
                <ion-item>
                    <ion-label>Stagione</ion-label>
                    <ion-select cancelText="Annulla" (ionChange)="changeSeason($event)" [(ngModel)]="selectedSeason">
                      <ion-option [value]="season" *ngFor="let season of detail.seasons">{{season.season_number}}</ion-option>
                    </ion-select>
              </ion-item>
            </ion-col>
            <ion-col no-padding col-12>
                <ion-item>
                      <ion-label>Episodio</ion-label>
                      <ion-select cancelText="Annulla" [disabled]="selectedSeason === undefined" (ionChange)="changeEpisode($event)" [(ngModel)]="selectedEpisode">
                        <ion-option [value]="episode" *ngFor="let episode of selectedSeason?.episodes">{{episode.episode_number}} - {{episode.name}}</ion-option>
                      </ion-select>
                </ion-item>
            </ion-col>
            <ion-col no-padding text-center col-12>
              <button ion-button color="primary" no-margin clear center (click)="openManualSearchAlert()">Ricerca Manuale</button>
            </ion-col>
          </ion-row>
          <ion-row id="vidBox" justify-content-center>
            <ion-col *ngIf="videos && videos.length > 0" col-12 align-self-center>
              <div id="boxHeader">
                <h3 class="title" padding *ngIf="target == 'tv'">Risultati - S{{selectedEpisode.season_number}}E{{selectedEpisode.episode_number}}</h3>
                <h3 class="title" padding *ngIf="target == 'movie'">Risultati</h3>
              </div>
              <ion-list>
                <button ion-item *ngFor="let video of videos" (press)="presentAlertConfirm(video.url)" (click)="openVideoOptions(video)">
                  <h2>{{ video.title }}</h2>
                  <span class="resultText">[ {{video.quality}} ] [ {{ video.is_sub ? "SUB-ITA" : "ITA"}} ] {{ video.channel }} - {{ video.server }}</span>
                </button>  
              </ion-list>
            </ion-col>
          </ion-row>
    </div>
  </ion-grid>
</ion-content>


<ng-template #related>
    <show-grid [simplifiedInterface]="simplifiedInterface" [infiniteScroll]="false" (showTap)="goToDetail($event)" [shows]="reccomandedShows"></show-grid>
</ng-template>

<ng-template #simplifiedHeader>
  <ion-row class="boxHeader" padding>
      <ion-col col-8>
          <h3>{{show.title}}</h3>
      </ion-col>
      <ion-col id="currentEpisodeBox" col-4 *ngIf="lastSeenEpisode">
          <h3 class="currentEpisode">Vista: S{{lastSeenEpisode.season_number}}E{{lastSeenEpisode.episode_number}}</h3>
      </ion-col>
  </ion-row>
</ng-template>